In [3]:
import pandas as pd
df = pd.read_csv("MovieLens\group_by.csv")
df

         day      city temperature windspeed   event
0   1/1/2017    Mumbai        32 F     6 mph    Rain
1   1/4/2017    Mumbai         NaN         7   Sunny
2   1/5/2017    Mumbai          28       NaN    Snow
3   1/6/2017  New York         NaN         7     NaN
4   1/7/2017  New York        32 F       NaN    Rain
5   1/8/2017  New York          31     2 mph   Sunny
6   1/9/2017      Cane         NaN       NaN     NaN
7  1/10/2017      Cane          34         8  Cloudy
8  1/11/2017      Cane          40        12   Sunny